/* Estilos para la barra de navegación */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.see-more-btn:hover {
    text-decoration: underline;
}

.header {
    background-color: #E63946;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 36px;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

nav.header {
    background-color: #F1FAEE;
    padding: 10px 0;
    text-align: center;
}

ul.nav-container {
    margin: 10px;
}

li.nav-container-element {
    display: inline;
    margin-right: 20px;
}

li.nav-container-element a {
    text-decoration: none;
    color: #1D3557;
    font-weight: bold;
    font-size: 16px;
}

.nav-container-element a:hover {
    border-bottom: 1px solid #457B9D;
    transition: border-bottom 0.3s ease;
}

/* Estilos para el cuerpo principal de la página */
main {
    /*Ancho máximo*/
    max-width: 800px;
    /*Centramos el contenido*/
    margin: 0 auto;
    padding: 20px;
}

.sub-title {
    font-size: 24px;
    color: #1D3557;
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
}

.post-container {
    background-color: #F1FAEE;
    padding: 20px;
    border-radius: 5px;
}

.post-container h3 {
    font-size: 20px;
    color: #E63946;
    margin-bottom: 10px;
}

.post-container p {
    font-size: 16px;
    color: #333;
    line-height: 1.4;
    margin-bottom: 15px;
}

.post-container a {
    color: #1D3557;
    font-weight: bold;
}

/* Estilos para el footer */

footer {
    background-color: #333;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
    margin: 0;
    color: #a79898;
}

/* Estilo para el enlace de correo electrónico */
footer a {
    color: #E63946;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

/* Cambia el color del enlace de correo electrónico en hover */
footer a:hover {
    color: #F1FAEE;
}

/* Estilos que se pueden repetir en diferentes páginas */
.return-btn {
    background-color: #E63946;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.return-btn:hover {
    background-color: #1D3557;
    color: #F1FAEE;
}

.next-btn {
    background-color: #1D3557;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.next-btn:hover {
    background-color: #E63946;
}